<div class="">
  <div class="alert alert-warning text-center mx-5 mb-4 mt-2" role="alert">
    The page may not work correctly because the Google Maps API is no longer
    free (and is not currently being paid for).
  </div>


  <!-- (mapDragEnd)="onMapDragEnd($event)" 
    (mapClick)="onMapClick($event)"
   
    -->
  <google-map    
    [zoom]="zoom"
    (mapClick)="clickMapa($event)"
    height="500px" width="100%"
    [options]="mapOptions"
    >
    <map-marker
      *ngFor="let marcador of _ms.marcadores; let i = index"
      [position]="marcador.position"
      [options]="marcador.options"
      (mapClick)="clickMarcador(marcador, i)"
    >
      <map-info-window>
        <strong>{{ marcador.titulo }}</strong>
        <p *ngIf="marcador.desc">{{ marcador.desc }}</p>
        <p class="puntero">
          <a
            (click)="_ms.borrarMarcador(i); marcadorSel = null"
            class="text-danger"
          >
            Delete Marker
          </a>
        </p>
      </map-info-window>
    </map-marker>
  </google-map>
</div>
<div class="container mt-2" *ngIf="!marcadorSel">
  <div class="alert alert-info">
    Click in the map to create a Marker or select one.
  </div>
</div>
<div class="container mt-2" *ngIf="marcadorSel">
  <h5>Marker</h5>
  <hr />
  <div class="form-group">
    <label for="">Title</label>
    <input
      type="text"
      [(ngModel)]="marcadorSel.options.titulo"
      name="titulo"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <textarea
      rows="5"
      [(ngModel)]="marcadorSel.desc"
      name="desc"
      class="form-control"
    >
    </textarea>
  </div>
  <div class="form-group">
    <label for="">Draggable</label>
    <select
      [(ngModel)]="draggable"
      name="draggable"
      class="form-control"
      (change)="cambiarDraggable()"
    >
      <option value="1">True</option>
      <option value="0">False</option>
    </select>
  </div>
  <br />
  <button
    type="button"
    class="btn btn-outline-primary w-100"
    (click)="_ms.guardarMarcadores()"
  >
    Save
  </button>
</div>
