<div class="container pinkContainer">
    <div class="h1container">
        <h1 class="h1cv">Javier Ródenas Pérez CV</h1>
    </div>
    <div class="personalInfo row py-4">
        <div class="col-md-4 circularImageDiv">
            <img src="../../../assets/img/JR-CV.jpg" alt="Foto de Javier Ródenas" class="cvImage">
        </div>
        <div class="col-md-8">
            <div class="wavecomen"></div>
            <div class="row greenContainer">
                <b>Fecha de Nacimiento: </b>26/04/1996
            </div>
            <div class="wavecomen2"></div>
            <div class="wavecomen"></div>
            <div class="row greenContainer">
                <b>Fecha de Nacimiento: </b>26/04/1996
            </div>
            <div class="wavecomen2"></div>
            <div class="wavecomen"></div>
            <div class="row greenContainer">
                <b>Fecha de Nacimiento: </b>26/04/1996
            </div>
            <div class="wavecomen2"></div>
        </div>
    </div>
    
</div>