<div class="container pinkContainer fadeIn slow">
  <div class="h1container">
    <div class="alert alert-warning text-center mx-5 mb-4 mt-2" role="alert">
      If you want to download a colorless pdf
      <a (click)="downloadAndOpenPDF()" class="btn btn-outline-danger"
        >CLICK HERE</a
      >
    </div>
    <h1 class="h1cv mt-4 mb-5">Javier Ródenas Pérez CV</h1>
  </div>
  <div class="personalInfo row py-4 animated fadeIn">
    <div class="col-md-4 circularImageDiv fadeIn slow">
      <img [src]="cvImageUrl" alt="Foto de Javier Ródenas" class="cvImage" />
    </div>
    <div class="col-md-8 personalInfoData">
      <div class="wavecomen"></div>
      <div class="row salmonContainer">
        <!-- <a class="col-md-4"><b>Fecha de Nacimiento: </b>26/04/1996</a> -->
        <!-- <b>Calle Sierra Mariola, 10, 03610, Petrer, Alicante, Spain</b> -->
        <b>javirodenas.javirodenas@gmail.com</b>
        <b>608 682 831</b>
      </div>
      <div class="wavecomen2"></div>
      <div class="wavecomen"></div>
      <div class="row salmonContainer">
        <b>26/04/1996; Elda, Alicante, Spain</b>
        <b>C/ Sierra Mariola, 10, 03610, Petrer, Alicante, Spain</b>
      </div>
      <div class="wavecomen2"></div>
      <div class="wavecomen"></div>
      <div class="row salmonContainer">
        <a href="https://www.linkedin.com/in/javier-rodenas-perez-28409118b/"
          ><b>Linkedin</b></a
        >
      </div>
      <div class="wavecomen2"></div>
    </div>
  </div>
  <div class="body">
    <div class="waveBody"></div>
    <div class="sectionBody row">
      <div class="headerBody">
        <h2>Work Experience</h2>
      </div>
      <div class="waveHeaderSection"></div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Web Developer</b> - Nicripsia Internet SL
        </p>
        <p class="dateContainer">05/2020 - 09/2020</p>
        <ul class="infoContainer">
          <li>
            Created a custom PrestaShop Module with JavaScript, PHP, HTML5 ,
            CSS3 and SQL for optimize and display a menu with images made it
            with a sprite image.
          </li>
          <li>
            Developed a PrestaShop Module with JavaScript, PHP, HTML5 , CSS3 and
            SQL for display a custom and responsive banner of products.
          </li>
          <li>
            Repaired a custom module of PrestaShop for do orders and buy
            products with PHP, JavaScript and SQL.
          </li>
          <li>
            Wrote PHP, SQL, HTML5 and CSS3 code for update and save custom data
            in database of front website.
          </li>
          <li>
            Structured and implemented WordPress and PrestaShop responsive
            websites with HTML5, CSS3 , SASS, Bootstrap and JavaScript.
          </li>
          <li>Database management tasks with phpMyAdmin.</li>
          <li>CMS Management tasks with WordPress and PrestaShop.</li>
        </ul>
      </div>
    </div>
    <div class="sectionBody row">
      <div class="headerBody">
        <h2>Education</h2>
      </div>
      <div class="waveHeaderSection"></div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Master in Software Development for Mobile Devices</b> - University
          of Alicante
        </p>
        <p class="dateContainer">2021 - 2022</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Degree in Multimedia Engineering, specialty Content Management</b>
          - University of Alicante
        </p>
        <p class="dateContainer">2014 - 2019</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Bachelor of Science</b>
          - IES Poeta Paco Mollá, Petrer
        </p>
        <p class="dateContainer">2012 - 2014</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Secondary Education</b>
          - IES Poeta Paco Mollá, Petrer
        </p>
        <p class="dateContainer">2008 - 2012</p>
      </div>
    </div>
    <div class="sectionBody row">
      <div class="headerBody">
        <h2>Language Skills</h2>
      </div>
      <div class="waveHeaderSection"></div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Spanish, Valencian</b> - Native Languages
        </p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>English</b> - First Certificate of Cambridge Assessment
        </p>
        <p class="dateContainer">06/2019</p>
      </div>
    </div>
    <div class="sectionBody row">
      <div class="headerBody">
        <h2>Technical Skills</h2>
      </div>
      <div class="waveHeaderSection"></div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>Web</b></p>
        <ul class="infoContainer lh30px">
          <li>
            PHP <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            JavaScript <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            TypeScript <span class="fs-1 pr-top7">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            jQuery <span class="fs-1 pr-top7">●</span
            ><span class="fs-5 pr-bottom">◯◯</span>
          </li>
          <li>
            HTML5 <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            CSS3 <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            SASS <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Bootstrap <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>Mobile</b></p>
        <ul class="infoContainer lh30px">
          <li>
            Kotlin <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Swift
            <span class="fs-1 pr-top6">●●●</span
            ><span class="fs-5 pr-bottom"></span>
          </li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>Frameworks</b></p>
        <ul class="infoContainer lh30px">
          <li>
            Angular <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Laravel <span class="fs-1 pr-top7">●</span
            ><span class="fs-5 pr-bottom">◯◯</span>
          </li>
          <li>React Native <span class="fs-1 pr-top6">●●●</span></li>
          <li>
            Ionic <span class="fs-1 pr-top7">●</span
            ><span class="fs-5 pr-bottom">◯◯</span>
          </li>
          <li>
            Unity <span class="fs-1 pr-top7">●</span
            ><span class="fs-5 pr-bottom">◯◯</span>
          </li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>Database</b></p>
        <ul class="infoContainer lh30px">
          <li>
            MySql <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            MongoDB <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            SQLite <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            CoreData <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Firebase <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Back4app <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>CMS</b></p>
        <ul class="infoContainer lh30px">
          <li>
            WordPress <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            PrestaShop <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>Git</b></p>
        <ul class="infoContainer lh30px">
          <li>
            CMD <span class="fs-1 pr-top7">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Github <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Gitkraken <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20">
          <b>Agile Metodologies</b>
        </p>
        <ul class="infoContainer lh30px">
          <li>SCRUM, Kanban, XP <span class="fs-1 pr-top6"></span></li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>Other Languages</b></p>
        <ul class="infoContainer lh30px">
          <li>
            Java <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            C++ <span class="fs-1 pr-top6">●●</span
            ><span class="fs-5 pr-bottom">◯</span>
          </li>
          <li>
            Python <span class="fs-1 pr-top6">●</span
            ><span class="fs-5 pr-bottom">◯◯</span>
          </li>
          <li>
            C# <span class="fs-1 pr-top6">●</span
            ><span class="fs-5 pr-bottom">◯◯</span>
          </li>
          <li>
            Tex <span class="fs-1 pr-top6">●</span
            ><span class="fs-5 pr-bottom">◯◯</span>
          </li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>IDE</b></p>
        <ul class="infoContainer lh30px">
          <li>VS Code <span class="fs-1 pr-top6"></span></li>
          <li>Xcode<span class="fs-1 pr-top6"></span></li>
          <li>Android Studio<span class="fs-1 pr-top6"></span></li>
          <li>Eclipse<span class="fs-1 pr-top6"></span></li>
        </ul>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody mbNegative20"><b>External Services</b></p>
        <ul class="infoContainer lh30px">
          <li>
            Firebase (Storage, Realtime Database, Firestore Database,
            Authentication) <span class="fs-1 pr-top6"></span>
          </li>
          <li>
            Google Play Services (SignIn, Google Maps, Google Mobile Ads,
            Firebise Cloud Messaging, Location API)
            <span class="fs-1 pr-top6"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sectionBody row">
      <div class="headerBody">
        <h2>Other Courses</h2>
      </div>
      <div class="waveHeaderSection"></div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Introduction to web development Course (part one)</b>
          - Google Programme (40H)
        </p>
        <p class="dateContainer">10/2017</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Introduction to web development Course (part two)</b>
          - Google Programme (40H)
        </p>
        <p class="dateContainer">10/2017</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Fundamentals of Digital Marketing</b>
          - Google Programme (40H)
        </p>
        <p class="dateContainer">02/2020</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Development of modules for PrestaShop</b>
          - Udemy (2H)
        </p>
        <p class="dateContainer">4/2020</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Complete Python Course-Learn From Scratch</b>
          - Udemy (3H)
        </p>
        <p class="dateContainer">4/2020</p>
      </div>

      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Learn PHP - For Beginners</b>
          - Udemy (2H)
        </p>
        <p class="dateContainer">4/2020</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Learn to master Git from zero to expert!</b>
          - Udemy (3H)
        </p>
        <p class="dateContainer">4/2020</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Coronavirus COVID-19 Course</b>
          - IDUE (2H)
        </p>
        <p class="dateContainer">7/2020</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Learn Video Editing with Adobe Premiere from scratch</b>
          - Udemy (3.5H)
        </p>
        <p class="dateContainer">9/2020</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b
            >Learn Javascript and create APIs with NodeJS, Angular and MongoDB
          </b>
          - Udemy (30H)
        </p>
        <p class="dateContainer">12/2020</p>
      </div>
      <div class="containerBody text-start">
        <p class="headerContainerBody">
          <b>Angular: From zero to expert (Legacy) by Fernando Herrera</b>
          - Udemy (30H)
        </p>
        <p class="dateContainer">4/2021</p>
      </div>
    </div>
  </div>
  <div class="waveFooter"></div>
  <div class="footer fs-3">
    <p>© 2022 Javier Ródenas Pérez</p>
  </div>
</div>
