<div class="main-container">
  <div class="card text-white bg-dark text-center centered w26rem">
    <div class="card-body">
      <!-- Calling SignIn Api from AuthService -->
      <button type="button" class="btn btn-outline-primary w-100" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Continue with Google
      </button>
    </div>
  </div>
  <br>
  <div class="card text-white bg-dark text-center centered w26rem">
    <div class="card-body">
      <h2 class="mb-3">Create a new account</h2>
      <div class="formGroup">
        <input type="email" class="formControl w-75 py-1 mb-1" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup  mb-2">
        <input type="password" class="formControl w-75 py-1 mb-1" placeholder="Password" #userPwd required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn btn-primary w-75" (click)="authService.SignUp(userEmail.value, userPwd.value)">
          Create account
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="redirectToLogin">
        <button type="button" class="btn btn-outline-success w-100" [routerLink]="'/sign-in'">
          Already have an account? Sign In
        </button>
      </div>
    </div>
  </div>
</div>
  