<div class="main-container">
  <div class="card text-white bg-dark text-center centered w26rem">
    <div class="card-body">
      <!-- Calling SignIn Api from AuthService -->
      <button type="button" class="btn btn-outline-primary w-100" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </div>
  </div>
  <br>
  <div class="card text-white bg-dark text-center centered w26rem">
    <div class="card-body">
      <div class="formGroup">
        <input type="text" class="formControl w-75 py-1 mb-2" placeholder="Email Aaddress" #userName required>
      </div>

      <div class="formGroup  mb-2">
        <input type="password" class="formControl w-75 py-1 mb-1" placeholder="Password" #userPassword required>
        <a class="d-block" [routerLink]="['/forgot-password']">Forgot Password?</a>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <!-- <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)"> -->
        <button type="button" class="btn btn-primary w-75" (click)="authService.SignIn(userName.value, userPassword.value)">Enter</button>
      </div>
    </div>
    <div class="card-body">
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="redirectToLogin">
        <button type="button" class="btn btn-outline-info w-100" [routerLink]="'/register-user'">
          Don't have an account? Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
  