<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="imgContiner">
        <img src="/assets/img/banner-ico.png" class="flexibleImg">
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/ed-sheeran.jpg" class="d-block w-100" alt="imagen del slide 1">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/metallica.jpg" class="d-block w-100" alt="imagen del slide 2">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/heroes.jpg" class="d-block w-100" alt="imagen del slide 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container main-container">
    <h1><div class="imgContiner">
        <img src="/assets/img/banner-ico.png" class="flexibleImg spotiLogo"> Api Spotify
    </div></h1>
    
</div>
