<div class="main-container">
  <div class="card text-white bg-dark text-center centered w26rem">
    <div class="card-body">
      <h3>Reset Password</h3>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <input type="email" class="formControl w-75 py-1 mb-1" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <div class="formGroup">
        <!-- <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)"> -->
        <button type="button" class="btn btn-primary w-75" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
      </div>
    </div>
    <div class="card-body">
      <div class="redirectToLogin">
        <button type="button" class="btn btn-outline-info w-100" [routerLink]="'/sign-in'">
          Go back? Log In
        </button>
      </div>
    </div>
  </div>
</div>
    